/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Style */

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
/*
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", serif;
}*/

/* Color Code */
/* #22396A */
/* #30BA66 */
/* #FBFBFB */
/* #676767 */
/* #1F1F1F */

/* General */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.padding {
    padding: 60px 32px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header */

.header {
    background-color: #22396A ;
    padding: 16px 0;
    color: white;
}
.brand img {
    width: 120px;
    object-fit: cover;
}

.nav a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    margin-left: 32px;
    font-size: 20px;
}
.nav a img {
    vertical-align: middle;
}
.nav a span {
    margin-right: 12px;
    vertical-align: middle;
}

/* Sidebar */
.sidebar {
    background-color: #a3caea;
    padding: 32px;
    flex: 0 1 25%;
    align-self: stretch;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;

}
.sidebar-nav a {
    text-decoration: none;
    padding: 16px;
    color: #22396a;
    font-weight: 700;
    border-radius: 4px;
}
.sidebar-nav a img {
    vertical-align: middle;
    margin-right: 12px;
    
}
.sidebar-nav .active {
    border: 2px solid orangered;
    color: orangered;
}
.logout-btn {
   border: 0;
   box-shadow: none;
   padding: 16px 32px;
   background-color: #ffffff;
   font-size: 20px;
   width: 100%;
   border-radius: 4px;
   text-align: left;
   font-weight: 700;
   color: #22396A;
}
.logout-btn img {
    margin-right: 12px;
    vertical-align: middle;
}

/* Article */
.article {
    flex: 0 1 60%;
    background-color: #dae3ea;
    padding: 32px;
    border-radius: 8px;
}
.heading {
    font-size: 36px;
    font-weight: 700;
    color: #22396A;
    margin: 16px 0;
}
.text {
    font-size: 18px;
    line-height: 1.7;
    color: #22396A;
    margin-bottom: 12px;
}
.btn {
    padding: 16px 36px;
    background-color:  #38ba66;
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(49, 187, 102, 0.64);
    margin-top: 24px;
}

/* footer */
.footer {
    background-color: #22396A;
    padding: 32px 0;
    color: white;
}
.footer a {
    text-decoration: none;
    margin-left: 16px;
    color: white;
    font-size: 20px;
    
}